API_GATEWAY_KEY=<your API key goes here>
OPENAI_API_KEY=<if available this is the API Key from OpenAI>
CHROMA_OPENAI_API_KEY=<can be the same as above or diffrent>
TAVILY_API_KEY=<Optional: <Tavily API Key>
SQL_URL=postgresql://postgres:humanafterall@localhost:5432/reviews_db
LANGSMITH_API_KEY=<Langsmith Key>
LANGSMITH_PROJECT=<Langsmith project identifier>